
h1, h2 {
    color: #545454;
}

.container{
margin:0.5rem;
padding:1rem;
text-align: center;
background-color: #fdfdfd;
border-radius: 0.5rem;
border: 1px solid #d6d6d6;
}

button {
  padding: 0.75rem;
  margin: 0.5rem;
  color: #dcdcdc;
  font-weight: 500;
  font-size: 1.1rem;
  background-color: #545454;
  border: 1px solid #6f6e6e;
  border-radius: 0.5rem;
}

input {
  padding: 0.75rem;
  margin: 0.5rem;
  font-size: 1rem;
  border: 1px solid #6f6e6e;
  border-radius: 0.5rem;
  background-color: #f0f0f0;
}

button:hover {
  background-color: #6f6e6e;
  color: #fff;
}